@import '/src/style/main.scss';

.cell {
  width: 30px;
  height: 30px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

  &:nth-child(5n) {
    border-right: none;
  }

  &:nth-last-child(-n + 5) {
    border-bottom: none;
  }

  &--hovered {
    background-color: $hovered-cell;
  }
}
