@import '/src/style/main.scss';

.button {
  width: 100%;
  height: 100%;
  @include flex-center;
  border: none;
  border-radius: 6px;
  background-color: #00a9f4;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  transition: 0.3s;
  opacity: 0.8;
  box-sizing: border-box;

  &--active {
    background-color: #ffc0d9;
  }

  &:hover {
    opacity: 1;
    transition: 0.3s;
  }

  &:active {
    background-color: #ffc0d9;
  }
}
