@import '/src/style/main.scss';

.game {
  flex-direction: column;
  width: 310px;

  height: 100vh;

  &__header {
    display: flex;
    margin-bottom: 20px;
  }

  &__select {
    width: 150px;
    margin-right: 10px;
  }
}
