@import '/src/style/main.scss';

.field {
  display: grid;
  border-left: 1px solid black;
  border-top:1px solid black;
  pointer-events: none;
  grid-template-columns: repeat(var(--grid-columns), $cell-width);

  &--hidden {
    display: none;
  }
}
