$main-font-color: #313237;
$hovered-cell: #ffc0d9;
$pop-up-color: #FFAD84 ;
$field-width: 310px;
$field-width-huge: 620px;
$element-width: 150px;
$element-height: 40px;
$grid-width: var(--grid-columns); 
$num: calc(var(--grid-columns));
$cell-width: calc($field-width / var(--grid-columns));
$cell-width-huge: calc($field-width-huge / var(--grid-columns));
