//initial values for field


$hovered-cell: #ffc0d9;
$pop-up-color: #FFAD84 ;

$field-width: var(--fieldWidth);
$field-width-huge: var(--fieldWidthHuge);
$grid-width: var(--grid-columns);
$cell-width: calc($field-width / var(--grid-columns));
$cell-width-huge: calc($field-width-huge / var(--grid-columns));

$element-width: 150px;
$element-height: 40px;
