@import '/src/style/main.scss';

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.5s ease;

  flex-wrap: wrap;

  &__word {
    display: inline-flex;
    padding: 10px;
    border-radius: 6px;
    margin: 10px;
    font-size: 102px;
  }
}
